FIREBASE_apiKey=
FIREBASE_authDomain=
FIREBASE_projectId=
FIREBASE_storageBucket=
FIREBASE_messagingSenderId=
FIREBASE_appId=
FIREBASE_measurementId=
MYSQL_USERNAME=
MYSQL_DBNAME=
MYSQL_PASSWORD=
MYSQL_HOST=